@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.bl-text{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  color: #022fc9;
}

h2{
  font-family: Poppins;
  font-size: 40px;
  font-weight: bold
}

h3{
  font-family: Poppins;
  font-weight: bold
}

b{
	font-size: 16px;
}


.bi-diagram-2-fill{
	font-size: 25px;
}

.teks-2{
	font-size: 18px;
	font-family: 'Montserrat';
	font-weight: 700;
}

.teks-3{
	font-family: 'Poppins', Sans-Serif;
    font-weight: 500;
    font-size: 14px;
    color: #2c3e50;
    opacity: 0.9;
}

p{
	font-family: 'Poppins', Sans-Serif;
    font-weight: 500;
    font-size: 14px;
    color: #2c3e50;
    opacity: 0.9;
}

.hrefFromHome{
  font-family: 'Poppins', Sans-Serif;
    font-weight: 500;
    font-size: 14px;
    color: #2c3e50;
    opacity: 0.9;
    text-decoration: none;
}

.location{
	font-family: 'Poppins';
	font-size: 18px;
	font-weight: 600;
}

.first-section{
	background: url('./../../pages/img/bg.jpg');
	height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-btns{
  font-family: Poppins;
  font-weight: 600;
  font-size: 15px;
}


.breadcrumb-item a{
  font-size: 15px;
  padding-top: 1px;
}

.breadcrumb-item .active{
  font-size: 15px;
  padding-top: 1px;
}

.sk-section{
  width: 100%;
  background-image: linear-gradient(to top, #096997, #c4dfec, #04496a), linear-gradient(to bottom, #096b9a, #096b9a);
  height: 270px;
  padding-top: 8%;
}

.text-hero{
  font-family: Poppins;
  font-size: 34px;
  color: #fff;
}


.text-hero b{
  font-family: Poppins;
  font-size: 34px;
  color: #fff;
  font-weight: bold;
}